<%= title "Random", :h2 %>

<% @patch = Patch.new() %>
<% form_for @patch do |f| %>
	<%= f.error_messages %>
	<%= text_area :patch, :content, {:rows => 2, :style => "width: 30em",
       :focus => true} %>
	<%= submit_tag 'put', {:class => 'action'} %> under <a rel="license"
 href="http://creativecommons.org/licenses/by-sa/3.0/us/"
><img alt="Creative Commons License"
 style="border-width:0" src="/images/lic.png" /></a>
	<%= hidden_field(:prepatch, :id) if @prepatch %>
	<%= hidden_field(:postpatch, :id) if @postpatch %>
<% end %>

<%= render :partial => "patches/list",
   :locals =>
     { :patches => [].paginate,
       :nothing => '(nothing above)',
       :pagenum => nil
 } %>

<% @seq.each do |patch| %>

<div style="clear:left">
<p style="margin-bottom: 0; padding-bottom: 0">
<%= link_to 'ADD ABOVE',
    {:controller => :patches, :action => :new, :postpatch_id => patch.id},
    {:class => 'action'}
-%></p>

<div style="float:left">
<%= render :partial => 'patches/centralbox',
	   :locals => { :patch => patch } %>
<p style="clear: left; padding-top: 0; margin-top: 0;">
<%= link_to 'ADD BELOW',
    {:controller => :patches, :action => :new, :prepatch_id => patch.id},
    {:class => 'action'}
 -%></p>
</div>
<%= render :partial => "list",
   :locals =>
     { :patches => patch.forks,
       :nothing => '(no forks)',
       :pagenum => :forkpage
 } %>

</div>
<% end %>

<div style="clear: left">
<%= render :partial => "patches/list",
   :locals =>
     { :patches => [].paginate,
       :nothing => '(nothing below)',
       :pagenum => nil
 } %>
</div>

