<%= title "Random", :h2 %>

<%= render :partial => "patches/list",
   :locals =>
     { :patches => [].paginate,
       :nothing => '(nothing above)',
       :pagenum => nil
 } %>

<% @seq.each do |patch| %>

<p style="margin-bottom: 0; padding-bottom: 0">
<%= link_to 'ABOVE',
    {:controller => :patches, :action => :new, :postpatch_id => patch.id},
    {:class => 'action'}
-%></p>

<%= render :partial => 'patches/centralbox',
	   :locals => { :float => true, :patch => patch } %>
<p><%= link_to 'FORK', {:controller => "patches", :action => "edit",
                        :id => patch.id }, {:class => 'action'} %></p>

<p style="clear: left; padding-top: 0; margin-top: 0;">
<%= link_to 'BELOW',
    {:controller => :patches, :action => :new, :prepatch_id => patch.id},
    {:class => 'action'}
 -%></p>

<% end %>

<%= render :partial => "patches/list",
   :locals =>
     { :patches => [].paginate,
       :nothing => '(nothing below)',
       :pagenum => nil
 } %>

