<div class="centralbox"
 <%= if defined? float then 'style="float: left;"' end -%>
>
<%= patch.content -%>
<p class="sub">
  by <%= link_to h(patch.user.disp_name), user_path(patch.user), {:class =>
  :action_l} -%>
  at <%= h(patch.created_at) -%>.
<% if @patch.parent %>
<br />
  edit on <%= link_to h(patch.parent.summary), {:id => patch.parent_id},
  {:class => :sub} %>
<% end # parent %>
</p>
</div>
