<div class="centralbox">
<%= patch.content -%>
<p class="sub">
<% if patch.parent then %>
  forked from <%= link_to h(patch.parent.summary),
  {:controller => :patches, :action => :show, :id => patch.parent_id},
  {:class => :sub} %>
<br />
<% elsif patch.added_below then %>
  added below <%= link_to h(patch.added_below.summary),
      {:controller => :patches, :action => :show, :id => patch.added_below.id},
  {:class => :sub} %>
<br />
<% elsif patch.added_above then %>
  added above <%= link_to h(patch.added_above.summary),
      {:controller => :patches, :action => :show, :id => patch.added_above.id},
  {:class => :sub} %>
<br />
<% end %>
  by <%= link_to h(patch.user.disp_name), user_path(patch.user) -%>
  at <%= link_to h(patch.created_at), :controller => 'patches',
    :action => 'show', :id => patch.id %>.
  <%= link_to('rand', {:controller => 'random',
    :action => 'show', :id => patch.id}, {:class => "action"}) unless
  (patch.after_patches.empty? && patch.before_patches.empty?) %>
</p>
</div>
