<div class="centralbox"
 <%= if defined? float then 'style="float: left;"' end -%>
>
<%= patch.content -%>
<p class="sub">
  by <%= h(patch.user.disp_name) -%>
  at <%= h(patch.created_at) -%>.
<% if @patch.parent %>
<br />
  forked from <%= link_to h(patch.parent.summary),  :id => patch.parent_id %>
<% end # parent %>
</p>
</div>
