<div class="centralbox">
<% id = "patch-#{patch.id}" %>
<div class="content" id="<%= id -%>">
<%= patch.content -%>
</div>
<script type="text/javascript">
 new Ajax.InPlaceEditor('<%= id -%>', '<%= url_for(
					   :controller => :patches,
					   :action => :update,
					   :id => patch.id) -%>',
 {rows:15,cols:70,loadTextURL:'<%= url_for :controller => :patches,
				   :action => :show_raw, :id => patch.id -%>',
 callback: function(form, value) { return 'authenticity_token=' +
					   window._token +
                                          '&patch[content]=' +
					   encodeURIComponent(value) +
 '&inplace=true'
 },
 onLeaveEditMode: function(form, value) { window.location.href = '/patches' ;}
});
</script>
<p class="sub">
<% if patch.parent then %>
  forked from <%= link_to patch.parent.summary,
  {:controller => :patches, :action => :show, :id => patch.parent_id},
  {:class => :sub} %>
<br />
<% elsif patch.added_below then %>
  added below <%= link_to patch.added_below.summary,
      {:controller => :patches, :action => :show, :id => patch.added_below.id},
  {:class => :sub} %>
<br />
<% elsif patch.added_above then %>
  added above <%= link_to patch.added_above.summary,
      {:controller => :patches, :action => :show, :id => patch.added_above.id},
  {:class => :sub} %>
<br />
<% end %>
  by <%= link_to h(patch.user.disp_name), user_path(patch.user) -%>
  at <%= link_to h(patch.created_at), :controller => 'patches',
    :action => 'show', :id => patch.id %>.
  seen <%= pluralize(patch.view_count, 'time') %>.
  <%= link_to('random weave', {:controller => 'random',
    :action => 'show', :id => patch.id}, {:class => "action_l"}) unless
  (patch.after_patches.empty? && patch.before_patches.empty?) %>
</p>
</div>
