<%= will_paginate patches, :previous_label => '<<', :next_label =>
    '>>', :param_name => pagenum unless defined? postonly %>
<% if patches.empty? -%>    
 <p><%= nothing -%></p>  
<% else -%>    
<table>
 <% patches.each do |patch| -%>      
   <tr>        
     <td><%= link_to patch.summary, patch_path(patch),
	     {:class => :elm, :title => patch.content(:plain) } -%></td>
     <td class="sub"><%= link_to h(timeago patch.created_at), patch_path(patch),
     {:class => :elm} -%></td>
     <td class="sub"><%= link_to "by "+h(patch.user.disp_name), user_path(patch.user), {:class => :elm} -%></td>
   </tr>    
 <% end -%>
</table>
<% end -%>
<%= will_paginate patches, :previous_label => '<<', :next_label =>
    '>>', :param_name => pagenum  if (defined? post or defined? postonly)
%>
