<%= title "Write", :h2 %>

<% if @prepatch %>

<%= render :partial => 'centralbox',
	   :locals  => { :patch => @prepatch } %>

<% end # prepatch %>

<% form_for @patch do |f| %>
	<%= f.error_messages %>
	<%= text_area :patch, :content, {:style => "width: 30em",
       :focus => true} %>
	<div class="buttons">
	<%= submit_tag 'put', {:style => 'font-size: 200%'} %>
	</div>
	<%= hidden_field(:prepatch, :id) if @prepatch %>
	<%= hidden_field(:postpatch, :id) if @postpatch %>
<% end %>
<p>(<%= link_to 'textile', 'http://hobix.com/textile/quick.html', :popup =>
	true %> markup available.)</p>
<p style="clear:left">anything put here will be under <a rel="license"
 href="http://creativecommons.org/licenses/by-sa/3.0/us/"
><img alt="Creative Commons License"
 style="border-width:0" src="/images/lic.png" /></a>.</p>


<% if @postpatch %>
<%= render :partial => 'centralbox',
	   :locals  => { :patch => @postpatch } %>
<% end # postpatch %>
