<% title @patch.summary %>

<div style="margin-top:2em;">
<%= render :partial => "list",
   :locals =>
     { :patches => @prepatches,
       :nothing => '(nothing before)',
       :pagenum => :prepage
 } %>

<p style="margin-bottom: 0.5em">
<%= link_to 'add beforeward',
    {:action => :new, :postpatch_id => @patch.id},
    {:class => 'action'}
-%></p>

<%= render :partial => 'centralbox',
	   :locals => { :float => true, :patch => @patch } %>
<p><%= link_to 'edit', edit_patch_path, {:class => 'action'} %></p>

<%= render :partial => "list",
   :locals =>
     { :patches => @forks,
       :nothing => '(no edits)',
       :pagenum => :forkpage
 } %>

<p style="clear: left; padding-top: 0.5em;">
<%= link_to 'add afterward',
    {:action => :new, :prepatch_id => @patch.id},
    {:class => 'action'}
 -%></p>


<%= render :partial => "list",
   :locals =>
     { :patches => @postpatches,
       :nothing => '(nothing after)',
       :pagenum => :postpage,
       :postonly => true
 } %>

</div>

