<%= title @patch.summary, :h2 %>

<%= render :partial => "list",
   :locals => 
     { :patches => @patch.before_patches,
       :nothing => '(nothing before)' } %>

<p style="margin-bottom: 0.5em">
<%= link_to 'add before',
    :action => :new, :postpatch_id => @patch.id -%></p>

<%= render :partial => 'centralbox',
           :locals => { :float => true, :patch => @patch } %>
<p><%= link_to 'add fork', edit_patch_path %></p>

<%= render :partial => "list",
   :locals => 
     { :patches => @patch.forks,
       :nothing => '(no forks)' } %>

<p style="clear: left; padding-top: 0.5em;"><%= link_to 'add after',
						:action => :new, :prepatch_id => @patch.id -%></p>


<%= render :partial => "list",
   :locals => 
     { :patches => @patch.after_patches,
       :nothing => '(nothing after)' } %>



