<% title @patch.summary %>

<div style="margin-top: 2em">
  
<%= render :partial => "list",
   :locals =>
     { :patches => @prepatches,
       :nothing => '(nothing above)',
       :pagenum => :prepage
 } %>

<p style="margin-bottom: 0; padding-bottom: 0">
<%= link_to 'ADD ABOVE',
    {:action => :new, :postpatch_id => @patch.id},
    {:class => 'action'}
-%></p>

<div style="float: left; width: 40em">
<%= render :partial => 'centralbox',
	   :locals => { :patch => @patch } %>
<%= render :partial => "list",
   :locals =>
     { :patches => @postpatches,
       :nothing => '(nothing below)',
       :pagenum => :postpage,
       :postonly => true
 } %>
<% @prepatch = @patch
   @patch = Patch.new
    %>
<% form_for @patch do |f| %>
	<%= f.error_messages %>
	<%= text_area :patch, :content, {:style => "width: 30em",
	      :rows => 3,
       :focus => true} %>
	<div class="buttons"><%= submit_tag 'ADD BELOW', {:class =>
 'action'} %> <span>under </span><a rel="license"
 href="http://creativecommons.org/licenses/by-sa/3.0/us/"
><img alt="Creative Commons License"
 style="border-width:0" src="/images/lic.png" /></a>
	</div>
	<%= hidden_field(:prepatch, :id) if @prepatch %>
	<%= hidden_field(:postpatch, :id) if @postpatch %>
<% end %>
</div>

<p><%= link_to 'FORK', edit_patch_path, {:class => 'action'} %></p>

<%= render :partial => "list",
   :locals =>
     { :patches => @forks,
       :nothing => '(no forks)',
       :pagenum => :forkpage
 } %>

</div>
