<% title @patch.summary %>

<div style="margin-top: 2em">
<%= render :partial => "list",
   :locals =>
     { :patches => @prepatches,
       :nothing => '(nothing above)',
       :pagenum => :prepage
 } %>

<p style="margin-bottom: 0; padding-bottom: 0">
<%= link_to 'ABOVE',
    {:action => :new, :postpatch_id => @patch.id},
    {:class => 'action'}
-%></p>

<%= render :partial => 'centralbox',
	   :locals => { :float => true, :patch => @patch } %>
<p><%= link_to 'FORK', edit_patch_path, {:class => 'action'} %></p>

<%= render :partial => "list",
   :locals =>
     { :patches => @forks,
       :nothing => '(no forks)',
       :pagenum => :forkpage
 } %>

<p style="clear: left; padding-top: 0; margin-top: 0;">
<%= link_to 'BELOW',
    {:action => :new, :prepatch_id => @patch.id},
    {:class => 'action'}
 -%></p>


<%= render :partial => "list",
   :locals =>
     { :patches => @postpatches,
       :nothing => '(nothing below)',
       :pagenum => :postpage,
       :postonly => true
 } %>
</div>
