<%= title "See Patch", :h2 %>

<%= render :partial => "list",
   :locals => 
     { :patches => @patch.before_patches,
       :nothing => '(there are nothing before)' } %>

<p style="margin-bottom: 0.5em">
<%= link_to 'add before',
    :action => :new, :postpatch_id => @patch.id -%></p>


<div style="border: 1px solid orange; width: 30em; float: left;
	    margin-top: 0">
<pre style="font-size: 120%"><%= h(@patch.content) %></pre>
<p style="font-size: 80%; margin-top: 0; margin-bottom: 0; text-align: right;">
  by <%= h(@patch.user.disp_name) -%> 
  at <%= h(@patch.created_at) -%>.
<% if @patch.parent %>
<br />
  forked from <%= link_to h(@patch.parent.summery),  :id => @patch.parent_id %>
<% end # parent %>
</p>
</div>
<p><%= link_to 'fork', edit_patch_path %></p>

<p style="clear: left; padding-top: 0.5em;"><%= link_to 'add after',
						:action => :new, :prepatch_id => @patch.id -%></p>


<%= render :partial => "list",
   :locals => 
     { :patches => @patch.after_patches,
       :nothing => '(there are nothing after)' } %>


