<%= title "See Patch", :h2 %>
<p>continuation</p>
<% patches = @patch.before_patches %>

<% if patches.empty? -%>    
 <p>There are no prepatches</p>  
<% else -%>    
 <% patches.each do |patch| -%>      
   <p>        
     <%= link_to h(patch.content), patch_path(patch) -%>      
   </p>    
 <% end -%>  
<% end -%>


<div style="border: 1px solid orange">
<pre><%= h(@patch.content) %></pre>
<p>
  by <%= h(@patch.user.disp_name) -%>.
</p>
<p>
  at <%= h(@patch.created_at) -%>.
</p>
<% if @patch.parent %>
<p>
  based on <%= link_to @patch.parent.content,  :id => @patch.parent_id %>
</p>
<% end # parent %>
<p><%= link_to 'fork this', edit_patch_path %></p>
</div>

<p>continuation</p>
<% patches = @patch.after_patches %>

<% if patches.empty? -%>    
 <p>There are no postpatches</p>  
<% else -%>    
 <% patches.each do |patch| -%>      
   <p>        
     <%= link_to h(patch.content), patch_path(patch) -%>      
   </p>    
 <% end -%>  
<% end -%>

